nav {
    box-shadow: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.top-header-nav {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}



nav .nav-wrapper {
    background-color:white !important;
    display: flex !important;
    justify-content: space-between !important;
    padding-left: 1.5em;
    padding-right: 1.5em;
    align-items: center !important;
}
.top-nav-left{
    display: flex;

}
nav .brand-logo {
    position: relative;
    left: 0;
    -webkit-transform: none;
    transform: none;
    color: var(--deepthemepurple);
}

.mobile-screen-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
}

.mobile-screen-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-navbar-search {
    margin-right: 2em;
}

.top-nav {
    display: flex;
    align-items: center;
}

/* big search box */

.header-searchbox {
    display: flex;
    align-items: center;
    border: 2px solid red;
    border-radius: 50px;
    padding: 0px 10px;
    padding-right: 75px !important;
    border: 1px solid #FCFBFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 3px 0px;
    margin-left: 3em;
    line-height: 8px;
}

.header-searchbox span {
    margin-left: 5px;
    color: rgb(170, 164, 164);
}

.links {
    color: var(--themepurple);
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}